annotated-types==0.7.0
arrow==0.17.0
b2sdk==2.8.0
certifi==2024.7.4
charset-normalizer==2.0.6
click==8.1.7
colorama==0.4.4
funcsigs==1.0.2
idna==3.7
iniconfig==2.1.0
logfury==1.0.1
packaging==24.1
pluggy==1.5.0
python-dateutil==2.8.2
requests==2.32.2
six==1.16.0
toml==0.10.2
tqdm==4.66.3
typing_extensions==4.12.2
urllib3==1.26.19
