arrow==0.17.0
b2sdk==1.14.1
certifi==2023.7.22
charset-normalizer==2.0.6
colorama==0.4.4
funcsigs==1.0.2
idna==3.7
logfury==0.1.2
python-dateutil==2.8.2
requests==2.31.0
six==1.16.0
toml==0.10.2
tqdm==4.62.3
urllib3==1.26.7